.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  min-height: 100vh;
}

.region-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}

#regionSelector {
  width: 50%;
  margin-left: 8px;
}

.countries-container {
  margin-bottom: 24px;
}

.countries-list {
  display: flex;
  flex-wrap: wrap;
}

.country-item-container {
  box-sizing: border-box;
  padding: 8px;
  flex: 1 1 33%;
  max-width: 33%;
}

.country-item-container img {
  display: flex;
  max-width: 100px;
  height: auto;
  margin: 0 auto;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 16px 0 6px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.pagination-select .form-group label {
  margin-right: 8px;
}

#search-input {
  margin: 0 8px;
}
